:root {
  --colorBlack : black;
  --colorYellow : #e0953f;
  --colorWhite : #ECE5F0; 
  --colorText : #464646;   

}
  

/*Tipo de letra*/
body {
  font-family: 'Poppins', sans-serif;
}

body .ed-container {
  max-width: none;
}
.nav-mobile {
  position: fixed;
  z-index: 1000;
}


/*color de fondo en nav mobile*/
ul.ed-menu.s-horizontal.default {
  background: var(--colorBlack);  
}
/*color de letra en nav mobile*/
ul.ed-menu.s-horizontal.default a {
  color: var(--colorYellow);    
}

/*Estilo del navegador vertical en desktop*/
.nav-vertical {
  background: var(--colorBlack); 
  height: 100vh; 
  /* outline: 1px solid var(--colorYellow); */
  position: fixed;
  box-shadow: 0 5px 10px 0 var(--colorBlack);
}

/* Estilo del contenido h3 y p de nav vertical */
.style-text-nav-ver h3 {
  padding: 0 10px;
  color: var(--colorBlack);
  font-size: 20px;
  letter-spacing: 7px;
  font-family: 'Dosis', sans-serif;
}
.style-text-nav-ver p{
  padding: 0 10px;
  color: var(--colorYellow);
  font-size: 13px;
  letter-spacing: 4px;   
} 
.style-text-nav-ver a { 
  padding: 20px 10px; 
  display: block;  
  letter-spacing: 2px; 
  color: var(--colorYellow); 
  font-size: 12px;   
  transition: 0.5s;
}   

.style-text-nav-ver a:hover { 
  padding: 30px 10px; 
  display: block;  
  letter-spacing: 2px; 
  color: var(--colorWhite);    
  background: var(--colorText);
  text-decoration: none;
  transition: 0.5s;
} 

/*diseño de la primera sección HOME */
.home {
  height: 100vh;
  font-weight: 400; 
  background-color: var(--colorBlack); 
  font-size: 1.5em;
  letter-spacing: 8px;  
  line-height: 1.1; 
  color: var(--colorWhite);
}

.home_content {
  display: grid;
  text-align: center;
  margin-top: 100px;
}


/*diseño de la segunda sección*/
.secondSection {
  color: var(--colorText);
  padding: 50px 100x;
  padding-top: 2%;
}

.text{
  line-height: 32px;
  font-size: 1.3em;
  text-align: justify;
  font-family: 'Dosis', sans-serif;
  padding-bottom: 10%;
}   

/*diseño de la tercera sección CONOCIMIENTOS*/
.treeSection {    
  background-repeat: no-repeat;   
  background-image: url(../assets/images/skill.png);
  background-size: 40vh;
  background-position: bottom center;
  height: 90vh;
  background-color: var(--colorBlack);
}
.treeSection-title {
  line-height: 32px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: var(--colorWhite); 
}
.treeSection-img {
  padding: 40px 0; 
}


/*diseño de la cuarta sección MIS PROYECTOS*/


.box-img-proyect {
  padding: 50px 0;  
} 

.fourSection-text {
  line-height: 32px;
  /* font-size: 1em; */
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: var(--colorText);
  
}

/*diseño de la quinta sección - contacto*/
.contact {
  /* background-image: url(../assets/images/bg.jpg); */
  background-image: url(../assets/images/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--colorBlack);
  background-position: bottom center; 
  color: var(--colorWhite);
  /* height: 40vh; */
}


.contact__content {
  /* outline: 1px solid; */
  margin-top: 5%;
  /* background-color: red; */
  padding-top: 2rem;
}
.contact__cv {
  margin-bottom: 3rem;
}

.contact__social{
  display: inline-block;
  text-align: center;
}
.contact__social a{
  color: var(--colorYellow);
  font-size: 2rem;
}
 
.btn-cv {
  padding: 10px;
  background: var(--colorYellow);
  text-decoration: none;
  color: var(--colorWhite);
  
}
.btn-cv:hover {
  background: var(--colorBlack);
  text-decoration: none;
  border: 1px solid var(--colorYellow);
}






/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
/*diseño de la primera sección HOME */
  .home {  
    font-size: 1rem;
    letter-spacing: 8px;  
    line-height: 1.1;  
  }

  .home_content {
    display: grid;
    text-align: center;
    margin-top: 100px;
  }


  /*diseño de la segunda sección*/
  .secondSection {
    color: var(--colorText);
    padding: 50px 100x;
    padding-top: 2%;
  }

  .text{
    line-height: 32px;
    font-size: 1.2rem;
    text-align: justify;
    font-family: 'Dosis', sans-serif;
    padding-bottom: 10%;
  }   

    /*diseño de la tercera sección CONOCIMIENTOS*/
  .treeSection {    
    background-repeat: no-repeat;   
    background-image: url(../assets/images/skill.png);
    background-size: 20vh;
    background-position: bottom left;
    height: auto;
    background-color: var(--colorBlack);
  }
  .treeSection-title {
    line-height: 32px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color: var(--colorWhite); 
  }
  .treeSection-img {
    padding: 40px 0; 
  }

  .img-skill {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    color: var(--colorWhite);
    margin: 1rem;
  } 
  
  .text__hover{
    /* position: absolute; */
    font-size: 1.5rem;
    /* display: none; */
  }


  /*diseño de la quinta sección - contacto*/
  .contact {
    /* background-image: url(../assets/images/bg.jpg); */
    background-image: url(../assets/images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--colorBlack);
    background-position: 0 .8rem; 
    color: var(--colorWhite);
    height: auto;
  }


  .contact__content {
    /* outline: 1px solid; */
    margin-top: 5%;
    /* background-color: red; */
    padding-top: 2rem;
    /* font-size: .5rem; */
  }
  .contact__cv {
    margin-bottom: 3rem;
  }

  .contact__social{
    display: inline-block;
    text-align: center;
  }
  .contact__social a{
    color: var(--colorYellow);
    font-size: .5rem;
  }

  .title {
    line-height: 32px; 
    text-align: center;
    font-family: 'Dosis', sans-serif;
    /* padding-top: 2rem;    */
    font-size: 2.5rem;
  } 
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .nav-vertical {  
    height: 110vh;   
    box-shadow: 0 5px 10px 0 var(--colorBlack);
    background: var(--colorBlack); 
  }
  .style-text-nav-ver h3 { 
    font-size: .1rem;
    letter-spacing: 7px; 
  }
  .style-text-nav-ver p{ 
    font-size: .8rem;  
  } 
  .style-text-nav-ver a { 
    padding: .2rem .5rem; 
    display: block;  
    letter-spacing: 2px; 
    color: var(--colorYellow); 
    font-size: .5rem;   
    transition: 0.5s;
  }  
  .style-text-nav-ver a:hover { 
    padding: 1.5rem 1.5rem; 
    display: block;  
    letter-spacing: 2px; 
    color: var(--colorWhite);    
    background: var(--colorText);
    text-decoration: none;
    transition: 0.5s;
  } 

  
  /*diseño de la primera sección HOME */
  .home {
    height: 100vh;
    font-weight: 400; 
    background-color: var(--colorBlack); 
    font-size: 1rem;
    letter-spacing: 8px;  
    line-height: 1.1; 
    color: var(--colorWhite);
  }

  .home_content {
    display: grid;
    text-align: center;
    margin-top: 100px;
  }

  
  /*diseño de la segunda sección*/
  .secondSection {
    color: var(--colorText); 
  }

  .text{  
    font-size: 1.2rem; 
  } 
  .title {
    text-align: center;
    font-size: 1.3rem;
  }  

    /*diseño de la tercera sección CONOCIMIENTOS*/
  .treeSection {    
    background-repeat: no-repeat;   
    background-image: url(../assets/images/skill.png);
    background-size: 20vh;
    background-position: bottom left;
    height: auto;
    background-color: var(--colorBlack);
  }
  .treeSection-title {
    line-height: 32px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color: var(--colorWhite); 
  }
  .treeSection-img {
    padding: 40px 0; 
  }

  .img-skill {
    width: 3rem;
    height: 3rem;
    object-fit: cover; 
    /* margin: 1rem; */
  }


  /*diseño de la quinta sección - contacto*/
  .contact {
    /* background-image: url(../assets/images/bg.jpg); */
    background-image: url(../assets/images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--colorBlack);
    background-position: 0 .8rem; 
    color: var(--colorWhite);
    height: auto;
  }


  .contact__content {
    /* outline: 1px solid; */
    margin-top: 5%;
    /* background-color: red; */
    padding-top: 2rem;
    /* font-size: .5rem; */
  }
  .contact__cv {
    margin-bottom: 3rem;
  }

  .contact__social{
    display: inline-block;
    text-align: center;
  }
  .contact__social a{
    color: var(--colorYellow);
    font-size: .5rem;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .text__hover{
    /* position: absolute; */
    font-size: 1.2rem;
    /* display: none; */
  }

  .img__hover {
    font-size: 10rem;
  }

    .nav-mobile {
      position: fixed;
      z-index: 1000;
    }
    
    
    /*color de fondo en nav mobile*/
    ul.ed-menu.s-horizontal.default {
      background: var(--colorBlack);  
    }
    /*color de letra en nav mobile*/
    ul.ed-menu.s-horizontal.default a {
      color: var(--colorYellow);    
    }
    
    /*Estilo del navegador vertical en desktop*/
    .nav-vertical {
      background: var(--colorBlack); 
      height: 100vh; 
      /* outline: 1px solid var(--colorYellow); */
      position: fixed;
      box-shadow: 0 5px 10px 0 var(--colorBlack);
    }
    
    /* Estilo del contenido h3 y p de nav vertical */
    .style-text-nav-ver h3 {
      padding: 0 10px;
      color: var(--colorBlack);
      font-size: 20px;
      letter-spacing: 7px;
      font-family: 'Dosis', sans-serif;
    }
    .style-text-nav-ver p{
      padding: 0 1rem;
      color: var(--colorYellow);
      font-size: 1rem;
      letter-spacing: 4px;   
    } 
    .style-text-nav-ver a { 
      padding: 1.5rem .5rem; 
      display: block;  
      letter-spacing: 2px; 
      color: var(--colorYellow); 
      font-size: .7rem;   
      transition: 0.5s;
    }   
    
    .style-text-nav-ver a:hover { 
      padding: 2rem 2rem; 
      display: block;  
      letter-spacing: 2px; 
      color: var(--colorWhite);    
      background: var(--colorText);
      text-decoration: none;
      transition: 0.5s;
    } 
    
    /*diseño de la primera sección HOME */
    .home {
      height: 100vh;
      font-weight: 400; 
      background-color: var(--colorBlack); 
      font-size: 1.2rem;
      letter-spacing: 8px;  
      line-height: 1.1; 
      color: var(--colorWhite);
    }
    
    .home_content {
      display: grid;
      text-align: center;
      margin-top: 100px;
    }
    
    
    /*diseño de la segunda sección*/
    .secondSection {
      color: var(--colorText);
      /* padding: 50px 100x;
      padding-top: 2%; */
      padding-top: 2rem;
    }
    
    .text{
      line-height: 32px;
      font-size: 1.3rem;
      text-align: justify;
      font-family: 'Dosis', sans-serif;
      /* padding-bottom: 10%; */
    }   
    
    /*diseño de la tercera sección CONOCIMIENTOS*/
    .treeSection {    
      background-repeat: no-repeat;   
      background-image: url(../assets/images/skill.png);
      background-size: 30vh;
      background-position: bottom center;
      height: auto;
      background-color: var(--colorBlack);
    }
    .treeSection-title {
      line-height: 32px;
      text-align: center;
      font-family: 'Dosis', sans-serif;
      color: var(--colorWhite); 
      padding-top: 5rem;
    }
    .treeSection-img {
      padding: 40px 0; 
    }
    
    .img-skill { 
      width: 3.5rem;
      height: 3.5rem;
      object-fit: cover;
      color: var(--colorWhite);
      margin: 1rem;
    }
    
    /*diseño de la cuarta sección MIS PROYECTOS*/
    
    .title {
      line-height: 32px; 
      text-align: center;
      font-family: 'Dosis', sans-serif;
      padding-top: 1.1rem;   
      font-size: 1.5rem; 
    } 

    .box-img-proyect {
      padding: 50px 0;  
    } 
    .fourSection-text {
      line-height: 32px;
      /* font-size: 1em; */
      text-align: center;
      font-family: 'Dosis', sans-serif;
      color: var(--colorText);
      
    }
    
    /*diseño de la quinta sección - contacto*/
    .contact {
      /* background-image: url(../assets/images/bg.jpg); */
      background-image: url(../assets/images/footer.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-color: var(--colorBlack);
      background-position: bottom center; 
      color: var(--colorWhite); 
      /* height: 40vh; */
    }
    
    
    .contact__content {
      /* outline: 1px solid; */
      margin-top: 5%;
      /* background-color: red; */
      padding-top: 2rem;
    }
    .contact__cv {
      margin-bottom: 3rem;
    }
    
    .contact__social{
      display: inline-block;
      text-align: center;
    }
    .contact__social a{
      color: var(--colorYellow);
      font-size: 2rem;
    }
    .text__hover {
      font-size: 1rem;
    }
    
    .btn-cv {
      padding: 10px;
      background: var(--colorYellow);
      text-decoration: none;
      color: var(--colorWhite);
      
    }
    .btn-cv:hover {
      background: var(--colorBlack);
      text-decoration: none;
      border: 1px solid var(--colorYellow);
    }
  
     

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 
  .firsSection_content { 
    margin-top: 300px;
  }
  .style-text-nav-ver p {   
    font-size: 1rem;    
  } 
  .style-text-nav-ver a {   
    font-size: .9rem;    
  } 
  .style-text-nav-ver a:hover { 
    padding: 1.5rem 1rem;
 
  } 

  .home {
    height: 100vh;
    font-weight: 400; 
    background-color: var(--colorBlack); 
    font-size: 1.5rem;
    letter-spacing: 8px;  
    line-height: 1.1; 
    color: var(--colorWhite);
  }
  /*diseño de la tercera sección CONOCIMIENTOS*/
  .treeSection {     
    background-size: 30vh;
    background-position: bottom right;
    height: auto; 
  } 
    .img-skill { 
    width: 6rem;
    height: 6rem; 
  }
  .text {
    font-size: 1.2rem;
  }
  .title {
    font-size: 1.5rem;
  }

  .text__hover {
    font-size: 1.5rem;
  }
}


 









/*Estilo de estrella*/
.star {
  /* color: white; */
  text-align: center;
  margin-bottom: 5px;
}
/*Barras que envuelven a la estrella*/
.star::after, .star::before{
  content: '';    
  width: 50px;
  display: inline-block;
  border: 1px solid var(--colorBlack);
  margin-bottom: 6px;   
}

/*Estilo de estrella fondo negro*/
.starN {
  /* color: white; */
  text-align: center;
}
/*Barras que envuelven a la estrella*/
.starN::after, .starN::before{
  content: '';    
  width: 50px;
  display: inline-block;
  border: 1px solid var(--colorWhite);
  margin-bottom: 6px;   
}


 


















/*Efecto máquina de escribir*/
.maquina { 
  position: relative; 
  /* float: left; */
  background: var(--colorBlack);
  color: var(--colorYellow);
}

.maquina span {
  position:absolute;
  right:0;
  width:0;
  background: var(--colorBlack);
  border-left: 1px solid var(--colorBlack);
  animation: escribir 4s steps(100) infinite alternate;
}

@keyframes escribir {
  from { width: 100% }
  to { width:0 }
}



