<!DOCTYPE html>
html(lang="es")
  //- include ../block/config
  block head
    include ../block/head
  body
    // Vista nav del Desktop
    main.container
      //Nav mobile sup
      block navMobile
        include ../block/navMobile
      //Nav desktop sub
      block navDesktop
        include ../block/navDesktop
      // cuarta sección
      block contact
        include ../block/contact
  script(src="js/main.js")