<!DOCTYPE html>
html(lang="es")
  include ../block/config
  block head
    include ../block/head
  body
    // Vista nav del Desktop
    main.container
      //Nav mobile sup
      block navMobile
        include ../block/navMobile
      //Nav desktop sub
      block navDesktop
        include ../block/navDesktop
      // Primera sección
      block home
        include ../block/home

  script(src="js/main.js")