<!DOCTYPE html>
html(lang="es")
  include ../block/config
  block head
    include ../block/head
  body
    // Vista nav del Desktop
    main.container
      //Nav mobile sup
      block navMobile
        include ../block/navMobile
      //Nav desktop sub
      block navDesktop
        include ../block/navDesktop
      // tercera sección
      block skill
        include ../block/skill
  script(src="js/main.js")