:root {
  --colorBlack : black;
  --colorYellow : #e0953f;
  --colorWhite : #ECE5F0; 
  --colorText : #464646;   
}
  

/*Tipo de letra*/
body {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
}
.nav__desktop {
  flex-basis: 300px;
  flex-grow: 0;
  display: flex;
  background-color: var(--colorBlack);
  color: var(--colorWhite);
  box-shadow: 0 5px 10px 0 var(--colorBlack);
}

.container_desktop{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorBlack);
  color: var(--colorWhite);

} 