<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/style.css")
    //- Tipo de letra
    link(href="https://fonts.googleapis.com/css?family=Dosis|Poppins",rel="stylesheet")
    //- Iconos
    script(src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
    title Kamaly Zapana Lorenzo
  body
    //  Nav mobile sup 
    //-
      nav.to-m
        ul(class="ed-menu s-horizontal default nav-mobile")
          li: a(class="options",href="#home",data-scroll)
            i(class="fas fa-home fa-1x")
          li: a(class="options",href="#about",data-scroll)
            i(class="fas fa-user fa-1x")
          li: a(class="options",href="#skill",data-scroll)
            i(class="fas fa-lightbulb fa-1x")
          li: a(class="options",href="#proyect",data-scroll)
            i(class="fas fa-code fa-1x")

    // Vista nav del Desktop
    main.container
      nav.nav__desktop
        img(src="assets/images/kamaly 4.png" alt="front-end")
        h3 KAMALY
        p kamalyzl
          i(class="fab fa-github")
        -let menu = ['PRINCIPAL','SOBRE MÍ','CONOCIMIENTOS','PROYECTOS','CONTÁCTAME']
        -let iclass = ['fas fa-home fa-1x','far fa-user fa-1x','fas fa-lightbulb fa-1x','fas fa-code fa-1x','far fa-envelope fa-1x']
        -let href = ['#home','#about','#skill','#proyect','#contact']
        each item,index in menu
          a(data-scroll href=href[index]) #{menu[index]}
              i(class=iclass[index] class="icons")

      // Container desktop
      section.container__desktop
        // Primera sección
        block home
          include ./block/home
        // Sobre mi
        block about
          include ./block/about

  script(src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous")
  script(src="js/smooth-scroll.min.js")
  script(src="js/app.js")