<!DOCTYPE html>
html(lang="es")
  include ../block/config
  block head
    include ../block/head
  body
    // Vista nav del Desktop
    main.container
    //  Nav mobile sup
    nav.nav__mobile
      each item,index in icons
        a(data-scroll id=href[index])
            i(class=icons[index] class="icons")
      //Nav desktop sub
      block navDesktop
        include ../block/navDesktop
  script(src="js/main.js")