section.about
  h1 MI HISTORIA
  .start
  .text
    p.
      Me enamoré de este mundo a los 11 años, con mi primer pc de escritorio. Este me hizo descubrir un mundo de nuevas
      alternativas.
    p.
      Quería solucionar cualquier problema relacionado a mi PC y estudié ensamblaje a los 12 años; Luego junto a unos
      amigos extranjeros a quienes conocí en foros, creamos una radio en línea. Aprendí a editar audio y video para
      generar contenido.
    p.
      Descubrí que podía estar días buscando información específica; y fue así como abrí mi primer Blog personal con todo el contenido
      que iba descubriendo. <br> Al termino del colegio, tuve dificultades para encontrar un lugar donde me enseñen lo que tanto había deseado,
      "Crear tecnología"; sin embargo, la falta de un referente me llevó a ser autodidacta.
    p.
      Finalmente, elegí estudiar computación e informática, y fue en ese camino que encontré la oportunidad de pertenecer
      a LABORATORIA.
    p.
      Actualmente soy egresada en la especialidad de Frontend en donde he repotenciado mi metodología de aprendizaje
      y habilidades blandas. En mi encontrarás mucha disposición y ganas de aprender. Sería un gusto poder trabajar
      contigo.