head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="css/style.css")
  //- Tipo de letra
  link(href="https://fonts.googleapis.com/css?family=Dosis|Poppins",rel="stylesheet")
  //- Iconos
  script(src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
  title #{page_title} | #{page}