section.proyect#proyect
  h1 MIS PROYECTOS
  .star
  .group__proyect
  -for(let i=0 ; i < 6; i++)
    figure
      a(href="https://kamalyzl.github.io/card-validator/public/index.html" target="_blank")
        img(src="https://user-images.githubusercontent.com/32285958/38772293-a4e3ed08-3ff8-11e8-9bbc-f807c755830b.PNG" alt="" class="img_proyect")
      figcaption.cards__text
        h2 Libreria ValidCard
        p Html 5.2 - Css - EDGrid - Google Fonts - Fontawesome
        p.
          ValidCard es un libreria basada en el algoritmo de Luhn, te ayudará a saber si una tarjeta de crédito es
          válida o invalida. Puedes usar datos como: fecha de vencimiento, código de verificación (cvv) y nombre
          completo que aparece en la tarjeta.
        a(href="https://github.com/kamalyzl/card-validator" class="card_icon" target="_blank")
          i(class="fab fa-github")