section.skill#skill
  h1 CONOCIMIENTOS
  .starN
  figure.group__figure
    -const images = ['javascript.svg','gulp.png','css3.svg','html5.svg','github.png','react.svg','bootstrap.png','materialize.png','apirest.png','aws_cognito.png','jquery.png','flexbox-css.png','jira.png']
    each img in images
      figure
        img(src="assets/icons/"+img alt="javascript" class="images")
        figcaption= img